* {
  box-sizing: border-box;
}

.container {
  height: 1800px;
  width: 500px;
  margin: 100px auto;
}

p {
    line-height: 20px;;
}

.animated-text {
  font-size: 30px;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-text.visible {
  opacity: 1;
  transform: translateX(0);
}
