[package]
name = "dioxus-fullstack"
authors = ["Jonathan Kelley", "Evan Almloff"]
version = { workspace = true }
edition = "2021"
description = "Fullstack utilities for Dioxus: Build fullstack web, desktop, and mobile apps with a single codebase."
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
keywords = ["web", "desktop", "mobile", "gui", "server"]
resolver = "2"

[dependencies]
# server functions
server_fn = { version = "0.6.5", features = ["json", "url", "browser"], default-features = false }
dioxus_server_macro = { workspace = true }

# axum
axum = { workspace = true, features = ["ws", "macros"], optional = true }
tower-http = { workspace = true, optional = true, features = ["fs"] }

dioxus-lib = { workspace = true }
generational-box = { workspace = true }

# Dioxus + SSR
dioxus-ssr = { workspace = true, optional = true }
dioxus-isrg = { workspace = true, optional = true }
hyper = { workspace = true, optional = true }
http = { workspace = true, optional = true }

# Web Integration
dioxus-web = { workspace = true, features = ["hydrate"], default-features = false, optional = true }
dioxus-interpreter-js = { workspace = true, optional = true }

# Desktop Integration
dioxus-desktop = { workspace = true, optional = true }

# Mobile Integration
dioxus-mobile = { workspace = true, optional = true }

tracing = { workspace = true }
tracing-futures = { workspace = true, optional = true }
once_cell = { workspace = true }
tokio-util = { version = "0.7.8", features = ["rt"], optional = true }
async-trait = { version = "0.1.58", optional = true }

serde = "1.0.159"
tokio-stream = { version = "0.1.12", features = ["sync"], optional = true }
futures-util = { workspace = true }
futures-channel = { workspace = true }
ciborium = { workspace = true }
base64 = { workspace = true }
rustls = { workspace = true, optional = true }
hyper-rustls = { workspace = true, optional = true }

pin-project = { version = "1.1.2", optional = true }
thiserror = { workspace = true, optional = true }
bytes = "1.4.0"
tower = { workspace = true, features = ["util"], optional = true }
tower-layer = { version = "0.3.2", optional = true }
parking_lot = { workspace = true, features = ["send_guard"], optional = true }
web-sys = { version = "0.3.61", optional = true, features = ["Window", "Document", "Element", "HtmlDocument", "Storage", "console"] }

dioxus-cli-config = { workspace = true, optional = true }

dioxus-devtools = { workspace = true, optional = true }
aws-lc-rs = { version = "1.8.1", optional = true }
dioxus-history.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
tokio = { workspace = true, features = ["rt", "sync"], optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["rt", "sync", "rt-multi-thread"], optional = true }

[dev-dependencies]
dioxus = { workspace = true, features = ["fullstack"] }

[features]
default = ["devtools", "document", "file_engine", "mounted"]
devtools = ["dioxus-web?/devtools", "dep:dioxus-devtools"]
mounted = ["dioxus-web?/mounted"]
file_engine = ["dioxus-web?/file_engine"]
document = ["dioxus-web?/document"]
web = ["dep:dioxus-web", "dep:web-sys"]
desktop = ["dep:dioxus-desktop", "server_fn/reqwest", "dioxus_server_macro/reqwest"]
mobile = ["dep:dioxus-mobile", "server_fn/reqwest", "dioxus_server_macro/reqwest"]
default-tls = ["server_fn/default-tls"]
rustls = ["server_fn/rustls", "dep:rustls", "dep:hyper-rustls"]
axum = ["dep:axum", "dep:tower-http", "server", "server_fn/axum", "dioxus_server_macro/axum", "default-tls"]
server = [
    "server_fn/ssr",
    "dioxus_server_macro/server",
    "dep:tokio",
    "dep:tokio-util",
    "dep:tokio-stream",
    "dep:dioxus-ssr",
    "dep:dioxus-isrg",
    "dep:tower",
    "dep:hyper",
    "dep:http",
    "dep:tower-layer",
    "dep:tracing-futures",
    "dep:pin-project",
    "dep:thiserror",
    "dep:dioxus-cli-config",
    "dep:async-trait",
    "dep:parking_lot",
    "dioxus-interpreter-js",
]
aws-lc-rs = ["dep:aws-lc-rs"]

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
features = ["axum", "web", "aws-lc-rs"]
