[package]
name = "dioxus-fullstack"
authors = ["Jonathan Kelley, Evan Almloff"]
version = { workspace = true }
edition = "2021"
description = "Fullstack Dioxus Utilities"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
keywords = ["ui", "gui", "react", "server", "fullstack"]
resolver = "2"

[dependencies]
# server functions
server_fn = { version = "0.6.5", features = ["json", "url", "browser"], default-features = false }
dioxus_server_macro = { workspace = true, version = "0.6.5", default-features = false }

# axum
axum = { workspace = true, features = ["ws", "macros"], default-features = false, optional = true }
tower-http = { workspace = true, optional = true, features = ["fs", "compression-gzip"] }

dioxus-lib = { workspace = true }

# Dioxus + SSR
dioxus-ssr = { workspace = true, optional = true }
hyper = { workspace = true, optional = true }
http = { workspace = true, optional = true }

# Web Integration
dioxus-web = { workspace = true, features = ["hydrate"], optional = true }

# Desktop Integration
dioxus-desktop = { workspace = true, optional = true }

# Mobile Integration
dioxus-mobile = { workspace = true, optional = true }

tracing = { workspace = true }
tracing-futures = { workspace = true, optional = true }
once_cell = "1.17.1"
tokio-util = { version = "0.7.8", features = ["rt"], optional = true }
anymap = { version = "0.12.1", optional = true }

serde = "1.0.159"
serde_json = { version = "1.0.95", optional = true }
tokio-stream = { version = "0.1.12", features = ["sync"], optional = true }
futures-util = { workspace = true, default-features = false }
ciborium = "0.2.1"
base64 = "0.21.0"

pin-project = { version = "1.1.2", optional = true }
thiserror = { workspace = true, optional = true }
async-trait = "0.1.71"
bytes = "1.4.0"
tower = { workspace = true, features = ["util"], optional = true }
tower-layer = { version = "0.3.2", optional = true }
web-sys = { version = "0.3.61", optional = true, features = ["Window", "Document", "Element", "HtmlDocument", "Storage", "console"] }

dioxus-cli-config = { workspace = true, optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
tokio = { workspace = true, features = ["rt", "sync"], optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
dioxus-hot-reload = { workspace = true }
tokio = { workspace = true, features = ["rt", "sync", "rt-multi-thread"], optional = true }

[features]
default = ["hot-reload"]
hot-reload = ["serde_json"]
web = ["dioxus-web", "web-sys"]
desktop = ["dioxus-desktop"]
mobile = ["dioxus-mobile"]
default-tls = ["server_fn/default-tls"]
rustls = ["server_fn/rustls"]
axum = ["dep:axum", "tower-http", "server", "server_fn/axum", "dioxus_server_macro/axum"]
server = [
    "server_fn/ssr",
    "dioxus_server_macro/server",
    "tokio",
    "tokio-util",
    "tokio-stream",
    "dioxus-ssr",
    "dioxus-ssr/incremental",
    "tower",
    "hyper",
    "http",
    "tower-layer",
    "anymap",
    "tracing-futures",
    "pin-project",
    "thiserror",
    "dioxus-cli-config"
]
