.dioxus
/target
/packages/playwright-tests/cli-optimization/monaco-editor-0.52.2
/packages/playwright-tests/web/dist
/packages/playwright-tests/fullstack/dist
/packages/playwright-tests/test-results
/packages/playwright-tests/web-hot-patch-temp
/packages/playwright-tests/web-hot-patch-fullstack-temp
/packages/playwright-tests/web-hot-patch/Cargo.lock
/packages/playwright-tests/web-hot-patch-fullstack/Cargo.lock
/dist
.DS_Store
/examples/assets/test_video.mp4
/examples/_assets/test_video.mp4
static

# new recommendation to keep the lockfile in for CI and reproducible builds
# Cargo.lock

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
tarpaulin-report.html

# Jetbrain
.idea/
node_modules/
/test-results/
/packages/playwright-report/
/packages/playwright/.cache/
# Allow geolocation plugin sources to be tracked
/packages/geolocation/android/build/
/packages/geolocation/android/.gradle/
# Zed
.zed/

# ignore the output of tmps
tmp/
bundle/

# in debugging we frequently dump wasm to wat with `wasm-tools print`
*.wat

# External macos drives have extra ._ files
._*