[workspace]
members = [
    "packages/dioxus",
    "packages/core",
    "packages/cli",
    "packages/core-macro",
    "packages/router",
    "packages/html",
    "packages/hooks",
    "packages/web",
    "packages/ssr",
    "packages/desktop",
    "packages/mobile",
    "packages/interpreter",
    "packages/fermi",
    "packages/liveview",
    "packages/autofmt",
    "packages/rsx",
    "packages/dioxus-tui",
    "packages/rink",
    "packages/native-core",
    "packages/native-core-macro",
    "packages/rsx-rosetta",
    "packages/signals",
    "packages/hot-reload",
    "packages/fullstack",
    "packages/fullstack/server-macro",
    "packages/fullstack/examples/axum-hello-world",
    "packages/fullstack/examples/axum-router",
    "packages/fullstack/examples/axum-desktop",
    "packages/fullstack/examples/salvo-hello-world",
    "packages/fullstack/examples/warp-hello-world",
    "docs/guide",
    # Full project examples
    "examples/tailwind",
    "examples/PWA-example",
]

# dependencies that are shared across packages
[workspace.dependencies]
dioxus = { path = "packages/dioxus" }
dioxus-core = { path = "packages/core" }
dioxus-core-macro = { path = "packages/core-macro" }
dioxus-router = { path = "packages/router" }
dioxus-html = { path = "packages/html" }
dioxus-hooks = { path = "packages/hooks" }
dioxus-web = { path = "packages/web" }
dioxus-ssr = { path = "packages/ssr" }
dioxus-desktop = { path = "packages/desktop" }
dioxus-mobile = { path = "packages/mobile" }
dioxus-interpreter-js = { path = "packages/interpreter" }
fermi = { path = "packages/fermi" }
dioxus-liveview = { path = "packages/liveview" }
dioxus-autofmt = { path = "packages/autofmt" }
dioxus-rsx = { path = "packages/rsx" }
dioxus-tui = { path = "packages/dioxus-tui" }
rink = { path = "packages/rink" }
dioxus-native-core = { path = "packages/native-core" }
dioxus-native-core-macro = { path = "packages/native-core-macro" }
dioxus-rsx-rosetta = { path = "packages/rsx-rosetta" }
dioxus-signals = { path = "packages/signals" }
dioxus-hot-reload = { path = "packages/hot-reload" }
dioxus-fullstack = { path = "packages/fullstack" }
dioxus_server_macro = { path = "packages/fullstack/server-macro" }
log = "0.4.19"
tokio = "1.28"
slab = "0.4.2"
futures-channel = "0.3.21"
futures-util = { version = "0.3", default-features = false }
rustc-hash = "1.1.0"
wasm-bindgen = "0.2.79"

# This is a "virtual package"
# It is not meant to be published, but is used so "cargo run --example XYZ" works properly
[package]
name = "dioxus-examples"
version = "0.0.0"
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Top level crate for the Dioxus repository"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react", "wasm"]
rust-version = "1.60.0"
publish = false

[dev-dependencies]
dioxus = { workspace = true }
dioxus-desktop = { workspace = true, features = ["transparent"] }
dioxus-ssr = { workspace = true }
dioxus-router = { workspace = true }
dioxus-signals = { workspace = true }
fermi = { workspace = true }
futures-util = "0.3.21"
log = "0.4.14"
num-format = "0.4.0"
separator = "0.4.1"
serde = { version = "1.0.136", features = ["derive"] }
im-rc = "15.0.0"
anyhow = "1.0.53"
serde_json = "1.0.79"
rand = { version = "0.8.4", features = ["small_rng"] }
tokio = { version = "1.16.1", features = ["full"] }
reqwest = { version = "0.11.9", features = ["json"] }
fern = { version = "0.6.0", features = ["colored"] }
thiserror = "1.0.30"
env_logger = "0.10.0"
simple_logger = "4.0.0"

[profile.release]
opt-level = 3
lto = true
debug = true
