[package]
name = "generational-box"
authors = ["Evan Almloff"]
version = "0.4.3"
edition = "2021"
description = "A box backed by a generational runtime"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
keywords = ["generational", "box", "memory", "allocator"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
parking_lot = "0.12.1"

[dev-dependencies]
rand = "0.8.5"
criterion = "0.3"

[features]
default = ["check_generation"]
check_generation = []
debug_borrows = []
debug_ownership = []

[[bench]]
name = "lock"
harness = false
