[package]
name = "dioxus-router"
version = "0.1.0"
edition = "2018"
description = "Dioxus VirtualDOM renderer for the web browser using websys"
license = "MIT/Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react", "wasm"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus-core = { path = "../core", version = "^0.1.3", default-features = false }
dioxus-html = { path = "../html", version = "^0.1.0", default-features = false }
dioxus-core-macro = { path = "../core-macro", version = "^0.1.2" }

serde = "1"
url = "2.2.2"
serde_urlencoded = "0.7"

web-sys = { version = "0.3", features = [
    "Attr",
    "Document",
    "History",
    "HtmlBaseElement",
    "Event",
    "NamedNodeMap",
    "Url",
    "UrlSearchParams",
    "Window",
], optional = true }
wasm-bindgen = { version = "0.2", optional = true }
js-sys = { version = "0.3", optional = true }
gloo = { version = "0.5", optional = true }


[features]
default = ["derive"]
web = ["web-sys"]
desktop = []
mobile = []
derive = []

[dev-dependencies]
console_error_panic_hook = "0.1.7"
dioxus-web = { path = "../web" }
log = "0.4.14"
wasm-logger = "0.2.0"
