[package]
name = "dioxus-router"
authors = ["Jonathan Kelley", "Evan Almloff"]
version = { workspace = true }
edition = "2021"
description = "Cross-platform router for Dioxus apps"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react", "wasm"]

[dependencies]
dioxus-lib = { workspace = true }
dioxus-history = { workspace = true }
dioxus-router-macro = { workspace = true }
dioxus-fullstack-hooks = { workspace = true, optional = true }
tracing = { workspace = true }
percent-encoding = { workspace = true }
url = { workspace = true }
dioxus-cli-config = { workspace = true }
rustversion = { workspace = true }

[features]
default = []
streaming = ["dep:dioxus-fullstack-hooks"]
wasm-split = []

[dev-dependencies]
axum = { workspace = true, features = ["ws"] }
dioxus = { workspace = true, features = ["router"] }
dioxus-ssr = { workspace = true }
criterion = { workspace = true, features = ["async_tokio", "html_reports"] }
ciborium = { workspace = true }
base64 = { workspace = true }
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["full"] }
dioxus-router = { workspace = true }

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

# Most of the examples live in the workspace. We include some here so that docs.rs can scrape our examples for better inline docs
[[example]]
name = "hash_fragment_state"
path = "../../examples/hash_fragment_state.rs"
doc-scrape-examples = true

[[example]]
name = "query_segment_search"
path = "../../examples/query_segment_search.rs"
doc-scrape-examples = true

[[example]]
name = "simple_router"
path = "../../examples/simple_router.rs"
doc-scrape-examples = true
