[package]
name = "dioxus-web"
version = "0.3.2"
authors = ["Jonathan Kelley"]
edition = "2018"
description = "Web renderer for Dioxus using websys"
license = "MIT/Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/docs/0.3/guide/en/getting_started/web.html"
keywords = ["dom", "ui", "gui", "react", "wasm"]

[dependencies]
dioxus-core = { workspace = true, features = ["serialize"] }
dioxus-html = { workspace = true, features = ["wasm-bind"] }
dioxus-interpreter-js = { workspace = true, features = [
    "sledgehammer",
    "minimal_bindings",
] }

js-sys = "0.3.56"
wasm-bindgen = { workspace = true, features = ["enable-interning"] }
wasm-bindgen-futures = "0.4.29"
log = { workspace = true }
rustc-hash = { workspace = true }
console_error_panic_hook = { version = "0.1.7", optional = true }
once_cell = "1.9.0"
anyhow = "1.0.53"
gloo-timers = { version = "0.2.3", features = ["futures"] }
futures-util = { workspace = true, features = ["std", "async-await", "async-await-macro"] }
smallstr = "0.2.0"
futures-channel = { workspace = true }
serde_json = { version = "1.0" }
serde = { version = "1.0" }
serde-wasm-bindgen = "0.4.5"
async-trait = "0.1.58"

[dependencies.web-sys]
version = "0.3.56"
features = [
    "Comment",
    "Attr",
    "Document",
    "Element",
    "CssStyleDeclaration",
    "HtmlElement",
    "HtmlInputElement",
    "HtmlSelectElement",
    "HtmlTextAreaElement",
    "HtmlFormElement",
    "EventTarget",
    "HtmlCollection",
    "Node",
    "NodeList",
    "Text",
    "Window",
    "Event",
    "MouseEvent",
    "InputEvent",
    "ClipboardEvent",
    "NamedNodeMap",
    "KeyboardEvent",
    "TouchEvent",
    "WheelEvent",
    "AnimationEvent",
    "TransitionEvent",
    "PointerEvent",
    "FocusEvent",
    "CompositionEvent",
    "ClipboardEvent",
    "DocumentType",
    "CharacterData",
    "SvgElement",
    "SvgAnimatedString",
    "HtmlOptionElement",
    "IdleDeadline",
    "WebSocket",
    "Location",
    "MessageEvent",
    "console",
    "FileList",
    "File",
    "FileReader",
    "DataTransfer"
]

[features]
default = ["panic_hook"]
panic_hook = ["console_error_panic_hook"]
hydrate = []

[dev-dependencies]
dioxus = { workspace = true }
wasm-bindgen-test = "0.3.29"
dioxus-ssr = { workspace = true}
wasm-logger = "0.2.0"
dioxus-web = { workspace = true, features = ["hydrate"] }
