[package]
name = "dioxus-web"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Web renderer for Dioxus using websys"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/learn/0.5/getting_started"
keywords = ["dom", "ui", "gui", "react", "wasm"]

[dependencies]
dioxus-core = { workspace = true }
dioxus-html = { workspace = true, features = ["wasm-bind"] }
dioxus-interpreter-js = { workspace = true, features = [
    "minimal_bindings",
    "webonly",
] }
generational-box = { workspace = true }

js-sys = "0.3.56"
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = "0.4.29"
tracing = { workspace = true }
rustc-hash = { workspace = true }
console_error_panic_hook = { version = "0.1.7", optional = true }
futures-util = { workspace = true, features = [
    "std",
    "async-await",
    "async-await-macro",
] }
futures-channel = { workspace = true }
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", optional = true }
serde-wasm-bindgen = { version = "0.5.0", optional = true }
async-trait = { version = "0.1.58", optional = true }

[dependencies.web-sys]
version = "0.3.56"
features = [
    "Document",
    "HtmlElement",
    "HtmlInputElement",
    "HtmlSelectElement",
    "HtmlTextAreaElement",
    "HtmlFormElement",
    "Text",
    "Window",
    "DataTransfer",
    "console",
    "NodeList",
]

[features]
default = ["panic_hook", "mounted", "file_engine", "hot_reload", "eval"]
panic_hook = ["console_error_panic_hook"]
hydrate = ["web-sys/Comment"]
mounted = ["web-sys/Element", "dioxus-html/mounted"]
file_engine = [
    "dioxus-html/file-engine",
    "async-trait",
]
hot_reload = ["web-sys/MessageEvent", "web-sys/WebSocket", "web-sys/Location", "serde_json", "serde", "dioxus-core/serialize"]
eval = ["dioxus-html/eval", "dioxus-interpreter-js/eval", "serde-wasm-bindgen", "async-trait", "serde_json"]

[dev-dependencies]
dioxus = { workspace = true }
wasm-bindgen-test = "0.3.29"
dioxus-ssr = { workspace = true, default-features = false }
gloo-timers = "0.2.3"
gloo-dialogs = "0.1.1"
dioxus-web = { path = ".", features = ["hydrate"] }
tracing-wasm = "0.2.1"
