[package]
name = "dioxus-web"
version = "0.0.2"
authors = ["Jonathan Kelley"]
edition = "2018"
description = "Dioxus VirtualDOM renderer for the web browser using websys"
license = "MIT/Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react", "wasm"]

[dependencies]
dioxus-core = { path = "../core", version = "^0.1.6" }
dioxus-html = { path = "../html", version = "^0.1.1" }
js-sys = "0.3"
wasm-bindgen = { version = "0.2.78", features = ["enable-interning"] }
lazy_static = "1.4.0"
wasm-bindgen-futures = "0.4.20"
log = { version = "0.4.14", features = ["release_max_level_off"] }
fxhash = "0.2.1"
wasm-logger = "0.2.0"
console_error_panic_hook = "0.1.6"
wasm-bindgen-test = "0.3.21"
once_cell = "1.8"
async-channel = "1.6.1"
anyhow = "1.0"
gloo-timers = { version = "0.2.1", features = ["futures"] }
futures-util = "0.3.15"
smallstr = "0.2.0"

[dependencies.web-sys]
version = "0.3.51"
features = [
    "Comment",
    "Attr",
    "Document",
    "Element",
    "CssStyleDeclaration",
    "HtmlElement",
    "HtmlInputElement",
    "HtmlSelectElement",
    "HtmlTextAreaElement",
    "EventTarget",
    "HtmlCollection",
    "Node",
    "NodeList",
    "Text",
    "Window",
    "Event",
    "MouseEvent",
    "InputEvent",
    "ClipboardEvent",
    "NamedNodeMap",
    "KeyboardEvent",
    "TouchEvent",
    "WheelEvent",
    "AnimationEvent",
    "TransitionEvent",
    "PointerEvent",
    "FocusEvent",
    "CompositionEvent",
    "ClipboardEvent",
    "DocumentType",
    "CharacterData",
    "SvgElement",
    "SvgAnimatedString",
    "HtmlOptionElement",
    "IdleDeadline",
]


# [lib]
# crate-type = ["cdylib", "rlib"]

# [dev-dependencies]
# im-rc = "15.0.0"
# separator = "0.4.1"
# uuid = { version = "0.8.2", features = ["v4", "wasm-bindgen"] }
# serde = { version = "1.0.126", features = ["derive"] }
# reqwest = { version = "0.11", features = ["json"] }
# dioxus-hooks = { path = "../hooks" }
# dioxus-core-macro = { path = "../core-macro" }
# rand = { version = "0.8.4", features = ["small_rng"] }

# [dev-dependencies.getrandom]
# version = "0.2"
# features = ["js"]
