[package]
name = "dioxus-web"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Web-sys renderer for Dioxus: Build fullstack web, desktop, and mobile apps with a single codebase."
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/learn/0.7/getting_started"
keywords = ["dom", "ui", "gui", "web", "wasm"]

[dependencies]
dioxus-core = { workspace = true }
dioxus-core-types = { workspace = true }
dioxus-cli-config = { workspace = true, features = ["web"] }
dioxus-html = { workspace = true }
dioxus-history = { workspace = true }
dioxus-document = { workspace = true }
dioxus-web-eval = { workspace = true }
dioxus-devtools = { workspace = true }
dioxus-signals = { workspace = true }
dioxus-interpreter-js = { workspace = true, features = [
    "minimal_bindings",
    "webonly",
] }
dioxus-fullstack-core = { workspace = true, features = ["web"], optional = true }
dioxus-web-sys-events = { workspace = true }
generational-box = { workspace = true }

js-sys-x = { workspace = true }
wasm-bindgen = { version = "0.2.106-alpha.1", package = "wasm-bindgen-x" }
wasm-bindgen-futures = { version = "0.4.56-alpha.1", package = "wasm-bindgen-futures-x" }
tracing = { workspace = true }
rustc-hash = { workspace = true }
futures-util = { workspace = true, features = ["std", "async-await", "async-await-macro"] }
futures-channel = { workspace = true }
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", optional = true }
gloo-timers = { workspace = true, optional = true, features = ["futures"] }

[dependencies.web-sys-x]
workspace = true
features = [
    "AnimationEvent",
    "ClipboardEvent",
    "CloseEvent",
    "Comment",
    "CompositionEvent",
    "console",
    "CustomEvent",
    "DataTransfer",
    "DataTransferItemList",
    "DataTransferItem",
    "Document",
    "DomRectReadOnly",
    "DragEvent",
    "FocusEvent",
    "History",
    "HtmlElement",
    "HtmlFormElement",
    "HtmlHeadElement",
    "HtmlInputElement",
    "HtmlSelectElement",
    "HtmlTextAreaElement",
    "IntersectionObserverEntry",
    "InputEvent",
    "KeyboardEvent",
    "MouseEvent",
    "NodeList",
    "PointerEvent",
    "ResizeObserverEntry",
    "ResizeObserverSize",
    "ScrollRestoration",
    "ScrollToOptions",
    "Text",
    "Touch",
    "TouchEvent",
    "TouchList",
    "TransitionEvent",
    "WheelEvent",
    "Window",
    "File",
    "FileList",
    "FileReader",
    "ReadableStream",
    "FormData"
]

[features]
default = ["mounted", "devtools", "document"]
hydrate = ["web-sys-x/Comment", "dep:serde", "dep:dioxus-fullstack-core"]
mounted = [
    "dioxus-web-sys-events/mounted",
    "web-sys-x/Element",
    "web-sys-x/DomRect",
    "web-sys-x/ScrollIntoViewOptions",
    "web-sys-x/ScrollLogicalPosition",
    "web-sys-x/ScrollBehavior",
    "web-sys-x/HtmlElement",
]
devtools = [
  "web-sys-x/MessageEvent",
  "web-sys-x/WebSocket",
  "web-sys-x/Location",
  "dep:serde_json",
  "dep:serde",
  "dioxus-core/serialize",
  "dep:gloo-timers"
]
document = ["dep:serde_json", "dep:serde"]

[dev-dependencies]
dioxus = { workspace = true, default-features = true }
wasm-bindgen-test = "0.3.50"
dioxus-ssr = { workspace = true, default-features = false }
gloo-dialogs = { workspace = true }
dioxus-web = { path = ".", features = ["hydrate"] }
tracing-wasm = { workspace = true }

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
