[package]
name = "dioxus-web"
version = "0.0.0"
authors = ["Jonathan Kelley <jkelleyrtp@gmail.com>"]
edition = "2018"
description = "Dioxus VirtualDOM renderer for the web browser using websys"
license = "MIT/Apache-2.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus-core = { path = "../core", version = "0.1.2" }
js-sys = "0.3"
wasm-bindgen = "0.2.71"
# wasm-bindgen = "0.2.70"
lazy_static = "1.4.0"
wasm-bindgen-futures = "0.4.20"
# futures = "0.3.12"
wasm-logger = "0.2.0"
log = "0.4.14"
fxhash = "0.2.1"
pretty_env_logger = "0.4.0"
console_error_panic_hook = "0.1.6"
generational-arena = "0.2.8"
wasm-bindgen-test = "0.3.21"
once_cell = "1.7.2"
# html-validation = { path = "../html-validation", version = "0.1.1" }

async-channel = "1.6.1"
# futures-lite = "1.11.3"

[dependencies.web-sys]
version = "0.3.50"
features = [
    "Comment",
    "Document",
    "Element",
    "HtmlElement",
    "HtmlInputElement",
    "EventTarget",
    "HtmlCollection",
    "Node",
    "NodeList",
    "Text",
    "Window",
    "Event",
    "MouseEvent",
    "InputEvent",
    "ClipboardEvent",
    "KeyboardEvent",
    "TouchEvent",
    "WheelEvent",
    "AnimationEvent",
    "TransitionEvent",
    "PointerEvent",
    "FocusEvent",
    "CompositionEvent",
    "DocumentType",
    "CharacterData",
    "HtmlOptionElement",
] # "FormEvent",
# "UIEvent",
# "ToggleEvent",
# "MediaEvent",
# "SelectionEvent",

[profile.release]
debug = true

[lib]
crate-type = ["cdylib", "rlib"]


[dev-dependencies]
uuid = { version = "0.8.2", features = ["v4", "wasm-bindgen"] }

[[example]]
name = "todomvc"
path = "./examples/todomvc/main.rs"
