[package]
name = "dioxus_server_macro"
version = { workspace = true }
edition = "2021"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/docs/0.5/guide/en/getting_started/fullstack.html"
keywords = ["dom", "ui", "gui", "react", "liveview"]
authors = ["Jonathan Kelley", "Evan Almloff"]
license = "MIT OR Apache-2.0"
description = "Server function macros for Dioxus"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
proc-macro2 = "^1.0.63"
quote = "^1.0.26"
syn = { workspace = true, features = ["full"] }
server_fn_macro = "0.6.11"

[lib]
proc-macro = true

[features]
axum = ["server_fn_macro/axum"]
server = ["server_fn_macro/ssr"]
reqwest = ["server_fn_macro/reqwest"]

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
