[package]
name = "dioxus-desktop"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "WebView renderer for Dioxus"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/learn/0.5/getting_started"
keywords = ["dom", "ui", "gui", "react"]

[dependencies]
dioxus-core = { workspace = true, features = ["serialize"] }
dioxus-html = { workspace = true, features = [
    "serialize",
    "mounted",
    "file-engine",
] }
dioxus-document = { workspace = true }
dioxus-signals = { workspace = true, optional = true }
dioxus-interpreter-js = { workspace = true, features = ["binary-protocol", "serialize"] }
generational-box = { workspace = true }
dioxus-devtools = { workspace = true, optional = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tao = { workspace = true, features = ["rwh_05"] }
wry = { workspace = true, default-features = false, features = [
    "os-webview",
    "protocol",
    "drag-drop",
] }
futures-channel = { workspace = true }
tokio = { workspace = true, features = [
    "sync",
    "rt-multi-thread",
    "rt",
    "time",
    "macros",
    "fs",
    "io-util",
], optional = true }
slab = { workspace = true }
rustc-hash = { workspace = true }
dioxus-hooks = { workspace = true }
futures-util = { workspace = true }

webbrowser = { workspace = true }
infer = { workspace = true }
dunce = { workspace = true }
urlencoding = { workspace = true }
async-trait = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

[target.'cfg(unix)'.dependencies]
signal-hook = "0.3.17"

[target.'cfg(any(target_os = "windows",target_os = "macos",target_os = "linux",target_os = "dragonfly", target_os = "freebsd", target_os = "netbsd", target_os = "openbsd"))'.dependencies]
global-hotkey = { workspace = true }
rfd = { workspace = true, default-features = false, features = ["xdg-portal", "tokio"] }
muda = { workspace = true }



[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
cocoa = { workspace = true }
core-foundation = { workspace = true }
objc = { workspace = true }
objc_id = { workspace = true }

[features]
default = ["tokio_runtime", "wry/objc-exception", "devtools"]
tokio_runtime = ["dep:tokio"]
fullscreen = ["wry/fullscreen"]
transparent = ["wry/transparent"]
devtools = ["wry/devtools", "dep:dioxus-devtools"]
gnu = []

[package.metadata.docs.rs]
features = ["tokio_runtime", "devtools"]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
default-features = false
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-pc-windows-msvc",
    "aarch64-apple-darwin",
    "aarch64-apple-ios",
    "aarch64-linux-android",
    "armv7-linux-androideabi",
]
rustc-args = [ "--cfg", "docsrs" ]
rustdoc-args = [ "--cfg", "docsrs" ]

[dev-dependencies]
dioxus = { workspace = true, features = ["desktop"] }
reqwest = { workspace = true, features = ["json"] }
dioxus-ssr = { workspace = true, default-features = false }
exitcode = "1.1.2"
http-range = { version = "0.1.5" }
separator = "0.4.1"
rand = { version = "0.8.4", features = ["small_rng"] }

# These tests need to be run on the main thread, so they cannot use rust's test harness.
[[test]]
name = "check_events"
path = "headless_tests/events.rs"
harness = false

[[test]]
name = "check_rendering"
path = "headless_tests/rendering.rs"
harness = false

[[test]]
name = "check_eval"
path = "headless_tests/eval.rs"
harness = false
