[package]
name = "subsecond"
edition = "2021"
version.workspace = true
authors = ["Jonathan Kelley"]
description = "A runtime hotpatching engine for Rust hot-reloading."
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/tree/main/packages/subsecond"
keywords = ["hotpatch", "engine", "subsecond", "dioxus", "hot-reload"]
readme = "../README.md"

[dependencies]
serde = { workspace = true, features = ["derive"] }
subsecond-types = { workspace = true }
thiserror = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { workspace = true, features = ["FetchEvent", "Request", "Window", "Response", "ResponseType", "console"] }
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = { workspace = true }
js-sys = { workspace = true}

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
libloading = { workspace = true}
libc = { workspace = true}
memmap2 = { workspace = true}

[target.'cfg(target_os = "android")'.dependencies]
memfd = { workspace = true}
