[package]
name = "dioxus-hackernews"
version = "0.1.0"
authors = ["Evan Almloff <evanalmloff@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { workspace = true, features = ["fullstack", "router"] }
chrono = { version = "0.4.38", features = ["serde"] }
reqwest = { workspace= true, features = ["json"] }
serde = { workspace = true, features = ["derive"] }
tracing-wasm = "0.2.1"
tracing = { workspace = true }
tracing-subscriber = "0.3.17"

[features]
default = []
server = ["dioxus/axum"]
web = ["dioxus/web"]
