[package]
name = "dioxus-web-sys-events"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Web-sys event implementations for Dioxus"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/learn/0.7/getting_started"
keywords = ["dom", "ui", "gui", "web", "wasm"]

[dependencies]
dioxus-core = { workspace = true }
dioxus-html = { workspace = true }

js-sys-x = { workspace = true }
wasm-bindgen = { version = "0.2.106-alpha.0", package = "wasm-bindgen-x" }
wasm-bindgen-futures-x = { workspace = true }
futures-util = { workspace = true, features = ["std", "async-await", "async-await-macro"] }
futures-channel = { workspace = true }
send_wrapper = { workspace = true, features = ["futures"] }
tracing = { workspace = true }

[dependencies.web-sys-x]
workspace = true
features = [
    "AnimationEvent",
    "ClipboardEvent",
    "CompositionEvent",
    "CustomEvent",
    "DataTransfer",
    "DataTransferItemList",
    "DataTransferItem",
    "Document",
    "DomRectReadOnly",
    "DragEvent",
    "Event",
    "FocusEvent",
    "HtmlElement",
    "HtmlFormElement",
    "HtmlInputElement",
    "HtmlSelectElement",
    "HtmlTextAreaElement",
    "IntersectionObserverEntry",
    "InputEvent",
    "KeyboardEvent",
    "MouseEvent",
    "PointerEvent",
    "ResizeObserverEntry",
    "ResizeObserverSize",
    "Touch",
    "TouchEvent",
    "TouchList",
    "TransitionEvent",
    "WheelEvent",
    "Window",
    "File",
    "FileList",
    "FileReader",
    "FormData",
    "Blob",
]

[features]
default = ["mounted"]
mounted = [
    "web-sys-x/Element",
    "web-sys-x/DomRect",
    "web-sys-x/ScrollIntoViewOptions",
    "web-sys-x/ScrollLogicalPosition",
    "web-sys-x/ScrollBehavior",
    "web-sys-x/ScrollToOptions",
]
