[package]
# Manganese is a rusting catalyst. Manganis makes it faster to collect rust assets (and has almost no google search results)
name = "manganis"
version.workspace = true
authors = ["Evan Almloff"]
edition = "2021"
description = "Ergonomic, automatic, cross crate asset collection and optimization"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/tree/main/packages/manganis/manganis"
homepage = "https://dioxuslabs.com"
keywords = ["assets"]

[lib]

[dependencies]
const-serialize = { workspace = true }
manganis-core = { workspace = true }
manganis-macro = { workspace = true }
thiserror = { workspace = true }
const-serialize-07 = { package = "const-serialize", version = "=0.7.2" }

[target.'cfg(target_os = "android")'.dependencies]
jni = "0.21"
ndk-context = "0.1.1"

[target.'cfg(target_os = "ios")'.dependencies]
objc2 = "0.6.3"

[target.'cfg(target_os = "macos")'.dependencies]
objc2 = "0.6.3"

[features]
default = []
dioxus = ["manganis-core/dioxus"]
