[package]
name = "dioxus-core"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Build fullstack web, desktop, and mobile apps with a single codebase."
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
keywords = ["web", "desktop", "mobile", "gui", "wasm"]
rust-version = "1.76.0"

[dependencies]
dioxus-core-types = { workspace = true }
const_format = { workspace = true }
futures-channel = { workspace = true }
generational-box = { workspace = true }
longest-increasing-subsequence = { workspace = true }
rustc-hash = { workspace = true }
rustversion = { workspace = true }
slab = { workspace = true }
slotmap = { workspace = true }
tracing = { workspace = true }
futures-util = { workspace = true, default-features = false, features = ["alloc", "std"] }
serde = { workspace = true, optional = true, features = ["derive"] }
subsecond = { workspace = true }
anyhow = { workspace = true }
xxhash-rust = { workspace = true, features = ["const_xxh64"] }

[dev-dependencies]
dioxus = { workspace = true }
dioxus-ssr = { workspace = true }
dioxus-html = { workspace = true, features = ["serialize"] }
tokio = { workspace = true, features = ["full"] }
rand = { workspace = true }
reqwest = { workspace = true }
tracing-subscriber = { workspace = true, default-features = true }
tracing-fluent-assertions = "0.3.0"
pretty_assertions = { workspace = true }
sysinfo = "0.35.2"

[dev-dependencies.web-sys]
version = "0.3.77"
features = ["Document", "HtmlElement", "Window"]

[features]
serialize = ["dep:serde"]

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
