[package]
name = "dioxus-core"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Core functionality for Dioxus - a concurrent renderer-agnostic Virtual DOM for interactive user experiences"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react"]

[dependencies]
rustc-hash = { workspace = true }
longest-increasing-subsequence = "0.1.0"
futures-util = { workspace = true, default-features = false, features = [
    "alloc",
    "std",
] }
slab = { workspace = true }
futures-channel = { workspace = true }
tracing = { workspace = true }
serde = { version = "1", features = ["derive"], optional = true }
generational-box = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }
tracing-fluent-assertions = "0.3.0"
dioxus = { workspace = true }
dioxus-html = { workspace = true, features = ["serialize"] }
pretty_assertions = "1.3.0"
rand = "0.8.5"
dioxus-ssr = { workspace = true }
reqwest = { workspace = true}
tracing-subscriber = "0.3.18"

[features]
default = ["drop-virtual-dom"]
serialize = ["serde"]
# The drop code can take a large fraction of the total binary size. We don't always need it. On web, the virtual dom can just be forcefully deallocated
drop-virtual-dom = []
