[package]
name = "dioxus"
version = { workspace = true }
authors = ["Jonathan Kelley", "Dioxus Labs", "ealmloff"]
edition = "2021"
description = "Portable, performant, and ergonomic framework for building cross-platform user interfaces in Rust"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/learn/0.5/"
keywords = ["dom", "ui", "gui", "react", "wasm"]
rust-version = "1.79.0"

[dependencies]
dioxus-core = { workspace = true }
dioxus-core-types = { workspace = true }
dioxus-document = { workspace = true }
dioxus-html = { workspace = true, default-features = false, optional = true }
dioxus-core-macro = { workspace = true, optional = true }
dioxus-config-macro = { workspace = true, optional = true }
dioxus-hooks = { workspace = true, optional = true }
dioxus-signals = { workspace = true, optional = true }
dioxus-router = { workspace = true, optional = true }
dioxus-web = { workspace = true, default-features = false, optional = true }
dioxus-mobile = { workspace = true, optional = true }
dioxus-desktop = { workspace = true, default-features = true, optional = true }
dioxus-fullstack = { workspace = true, default-features = true, optional = true }
dioxus-static-site-generation = { workspace = true, optional = true }
dioxus-liveview = { workspace = true, optional = true }
dioxus-ssr = { workspace = true, optional = true }
manganis = { workspace = true, optional = true }
dioxus-devtools = { workspace = true, optional = true }

serde = { version = "1.0.136", optional = true }
axum = { workspace = true, optional = true }

[features]
default = [
    "macro",
    "html",
    "devtools",
    "signals",
    "hooks",
    "launch",
    "mounted",
    "document",
    "asset",
]
minimal = ["macro", "html", "signals", "hooks", "launch"]
signals = ["dep:dioxus-signals"]
macro = ["dep:dioxus-core-macro"]
html = ["dep:dioxus-html"]
hooks = ["dep:dioxus-hooks"]
devtools = [
    "dioxus-web?/devtools",
    "dioxus-fullstack?/devtools",
    "dep:dioxus-devtools"
]
mounted = ["dioxus-web?/mounted", "dioxus-html?/mounted"]
file-engine = ["dioxus-web?/file-engine"]
asset = ["dep:manganis"]
document = ["dioxus-web?/document"]

launch = ["dep:dioxus-config-macro"]
router = ["dep:dioxus-router"]

# Platforms
fullstack = [
    "dep:dioxus-fullstack",
    "dioxus-config-macro/fullstack",
    "dep:serde",
    "dioxus-router?/fullstack",
]
desktop = [
    "dep:dioxus-desktop",
    "dioxus-fullstack?/desktop",
    "dioxus-config-macro/desktop",
]
mobile = [
    "dep:dioxus-mobile",
    "dioxus-fullstack?/mobile",
    "dioxus-config-macro/mobile",
]
web = [
    "dep:dioxus-web",
    "dioxus-fullstack?/web",
    "dioxus-static-site-generation?/web",
    "dioxus-config-macro/web",
    "dioxus-router?/web",
]
ssr = ["dep:dioxus-ssr", "dioxus-router?/ssr", "dioxus-config-macro/ssr"]
liveview = [
    "dep:dioxus-liveview",
    "dioxus-config-macro/liveview",
    "dioxus-router?/liveview",
]
static-generation = [
    "dep:dioxus-static-site-generation",
    "dioxus-config-macro/static-generation",
]
axum = ["server"]
server = [
    "dioxus-fullstack?/axum",
    "dioxus-fullstack?/server",
    "dioxus-static-site-generation?/server",
    "ssr",
    "dioxus-liveview?/axum",
    "dep:axum",
]

[dev-dependencies]
criterion = { workspace = true }
dioxus = { workspace = true }
env_logger = { workspace = true }
futures-util = { workspace = true }
rand = { version = "0.8.4", features = ["small_rng"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tracing = { workspace = true }

[[bench]]
name = "jsframework"
harness = false

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
features = [
    "router",
    "ssr",
    "web",
    "fullstack",
    "signals",
    "hooks",
    "html",
    "liveview",
    "static-generation",
    "server",
]
