[package]
name = "dioxus-ssr"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Dioxus render-to-string"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
keywords = ["dom", "ui", "gui", "react", "ssr"]

[dependencies]
dioxus-core = { workspace = true, features = ["serialize"] }
dioxus-html = { workspace = true }
dioxus-core-types = { workspace = true }
askama_escape = { workspace = true }
rustc-hash = { workspace = true }

[dev-dependencies]
dioxus = { workspace = true }

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
