[package]
name = "dioxus-native-core"
version = "0.2.0"
edition = "2021"
license = "MIT/Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
description = "Build natively rendered apps with Dioxus"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react"]


[dependencies]
dioxus-core = { path = "../core", version = "^0.3.0", optional = true }

keyboard-types = "0.6.2"
taffy = "0.2.1"
smallvec = "1.6"
rustc-hash = "1.1.0"
anymap = "1.0.0-beta.2"
slab = "0.4"
parking_lot = { version = "0.12.1", features = ["send_guard"] }
crossbeam-deque = "0.8.2"
dashmap = "5.4.0"
hashbrown = { version = "0.13.2", features = ["raw"] }

# for parsing attributes
lightningcss = "1.0.0-alpha.39"

rayon = "1.6.1"
shipyard = { version = "0.6.2", features = ["proc", "std"], default-features = false }
shipyard_hierarchy = "0.6.0"

[dev-dependencies]
rand = "0.8.5"
dioxus = { path = "../dioxus", version = "^0.3.0" }
tokio = { version = "*", features = ["full"] }
dioxus-native-core = { path = ".", features = ["dioxus"] }
dioxus-native-core-macro = { path = "../native-core-macro" }

[features]
default = []
dioxus = ["dioxus-core"]
parallel = ["shipyard/parallel"]
