[package]
name = "dioxus-native-core"
version = "0.3.0"
edition = "2021"
license = "MIT/Apache-2.0"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
description = "Build natively rendered apps with Dioxus"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react"]


[dependencies]
dioxus-core = { path = "../core", version = "^0.3.0" }
dioxus-html = { path = "../html", version = "^0.3.0" }
dioxus-core-macro = { path = "../core-macro", version = "^0.3.0" }

taffy = "0.2.1"
smallvec = "1.6"
rustc-hash = "1.1.0"
anymap = "1.0.0-beta.2"
slab = "0.4"
parking_lot = "0.12.1"
crossbeam-deque = "0.8.2"
dashmap = "5.4.0"

# for parsing attributes
lightningcss = "1.0.0-alpha.39"

[dev-dependencies]
rand = "0.8.5"
dioxus = { path = "../dioxus", version = "^0.3.0" }
dioxus-native-core-macro = { path = "../native-core-macro" }
tokio = { version = "1.0", features = ["full"] }
