[package]
name = "fullstack-hackernews-example"
version = "0.1.0"
authors = ["Evan Almloff <evanalmloff@gmail.com>"]
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { workspace = true, features = ["fullstack", "router"] }
chrono = { workspace = true, features = ["serde"] }
reqwest = { workspace= true, features = ["json"] }
serde = { workspace = true, features = ["derive"] }

[features]
default = []
server = ["dioxus/server"]
web = ["dioxus/web"]
