[package]
name = "wasm-split-cli"
edition = "2021"
version = { workspace = true }
authors = ["Jonathan Kelley"]
description = "CLI-support for wasm-split - a tool for splitting up large WASM binaries into smaller chunks"
repository = "https://github.com/DioxusLabs/dioxus/"
license = "MIT OR Apache-2.0"
keywords = ["wasm", "cli", "split", "dioxus"]
rust-version = "1.81.0"


[dependencies]
anyhow =  { workspace = true }
itertools = { workspace = true }
walrus = { workspace = true, features = ["parallel"]}
wasmparser = { workspace = true }
id-arena = { workspace = true }
rayon = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt"] }
tracing = { workspace = true }
clap = { workspace = true, features = ["derive"] }
wasm-used = { workspace = true}
