[package]
name = "dioxus-cli"
version = { workspace = true }
authors = ["Jonathan Kelley"]
edition = "2021"
description = "CLI tool for developing, testing, and publishing Dioxus apps"
repository = "https://github.com/DioxusLabs/dioxus/"
license = "MIT OR Apache-2.0"
keywords = ["react", "gui", "cli", "dioxus", "wasm"]
rust-version = "1.79.0"

[dependencies]
# cli core
clap = { workspace = true, features = ["derive", "cargo"] }
thiserror = { workspace = true }
wasm-bindgen-cli-support = "0.2"
wasm-bindgen-shared = "0.2"

# features
uuid = { version = "1.3.0", features = ["v4"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
toml = { workspace = true }
fs_extra = "1.2.0"
cargo_toml = { workspace = true }
futures-util = { workspace = true, features = ["async-await-macro"] }
notify = { workspace = true, features = ["serde"] }
html_parser = { workspace = true }
cargo_metadata = "0.18.1"
tokio = { workspace = true, features = ["fs", "sync", "rt", "macros", "process", "rt-multi-thread"] }
tokio-stream = "0.1.15"
atty = "0.2.14"
chrono = { workspace = true }
anyhow = "1"
hyper = { workspace = true }
hyper-util = "0.1.3"
hyper-rustls = { workspace = true }
rustls = { workspace = true }
subprocess = "0.2.9"
rayon = "1.8.0"
console = "0.15.8"
ctrlc = "3.2.3"
futures-channel = { workspace = true }
krates = { version = "0.17.0" }
cargo-config2 = { workspace = true, optional = true }

axum = { workspace = true, features = ["ws"] }
axum-server = { workspace = true, features = ["tls-rustls"] }
axum-extra = { workspace = true, features = ["typed-header"] }
tower-http = { workspace = true, features = ["full"] }
proc-macro2 = { workspace = true, features = ["span-locations"] }
syn = { workspace = true, features = ["full", "extra-traits", "visit", "visit-mut"] }

headers = "0.4.0"
walkdir = "2"

# tools download
dirs = { workspace = true }
reqwest = { workspace = true, features = [
    "rustls-tls",
    "stream",
    "trust-dns",
    "blocking",
] }
flate2 = "1.0.22"
tar = "0.4.38"
zip = "0.6.2"
tower = { workspace = true }
once_cell = "1.19.0"

# plugin packages
open = "5.0.1"
cargo-generate = "=0.21.3"
toml_edit = "0.22.20"

# bundling
tauri-bundler = { workspace = true }

# formatting
# syn = { workspace = true }
prettyplease = { workspace = true }

# Assets
brotli = "6.0.0"

dioxus-autofmt = { workspace = true }
dioxus-check = { workspace = true }
rsx-rosetta = { workspace = true }
dioxus-rsx = { workspace = true, features = ["hot_reload"] }
dioxus-html = { workspace = true, features = ["hot-reload-context"] }
dioxus-core = { workspace = true, features = ["serialize"] }
dioxus-core-types = { workspace = true }
dioxus-devtools-types = { workspace = true }
dioxus-runtime-config = { workspace = true }
ignore = "0.4.22"
env_logger = { workspace = true }

tracing-subscriber = { version = "0.3.18", features = ["std", "env-filter"] }
console-subscriber = { version = "0.3.0", optional = true }
tracing = { workspace = true }
wasm-opt = { version = "0.116.1", optional = true }
ratatui = { version = "0.27.0", features = ["crossterm", "unstable"] }
crossterm = { version = "0.27.0", features = ["event-stream"] }
ansi-to-tui = "=5.0.0-rc.1"
ansi-to-html = "0.2.1"
manganis-core = { workspace = true }

# link intercept
tempfile = "3.3"


# # just use the manganis crate directly since it has all the types we need
# manganis = { workspace = true }
# serde = { version = "1.0.183", features = ["derive"] }
# serde_json = {version="1.0.116"}
# anyhow = "1"
# rayon = "1.7.0"
# rustc-hash = "1.1.0"

# # Tailwind
# railwind = "0.1.5"

# # Image compression/conversion
# # JPEG
# mozjpeg = { version = "0.10.7", default-features = false, features = ["parallel"] }
# # PNG
# imagequant = "4.2.0"
# png = "0.17.9"
# # Conversion
# image = { version = "0.25" }
# ravif = { version = "0.11", default-features = false }

# # CSS Minification
# lightningcss = "1.0.0-alpha.44"

# # # Js minification
# # swc = "=0.283.0"
# # swc_common = "=0.37.1"


# Extracting data from an executable
object = {version="0.36.0", features=["wasm"]}

# [dev-dependencies]
# tracing-subscriber = "0.3.18"

# [features]
# default = ["html"]
# html = []
# # html = ["manganis-common/html"]

# asm = ["ravif/asm", "mozjpeg/nasm_simd"]

# # Note: this feature now enables nothing and should be removed in the next major version
# webp = []
# avif = []

[build-dependencies]
built = { version = "=0.7.4", features = ["git2"] }

[features]
default = []
plugin = []
tokio-console = ["dep:console-subscriber"]

# when releasing dioxus, we want to enable wasm-opt
# and then also maybe developing it too.
# making this optional cuts workspace deps down from 1000 to 500, so it's very nice for workspace adev
optimization = ["wasm-opt", "asset-opt"]
asset-opt = []
wasm-opt = ["dep:wasm-opt"]

[[bin]]
path = "src/main.rs"
name = "dx"



[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/dx-{ target }-v{ version }{ archive-suffix }"
pkg-fmt = "tgz"

[package.metadata.binstall.overrides.x86_64-pc-windows-msvc]
pkg-fmt = "zip"
