[package]
name = "dioxus-rsx"
version = { workspace = true }
authors = ["Jonathan Kelley", "Evan Almloff"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Core functionality for Dioxus - a concurrent renderer-agnostic Virtual DOM for interactive user experiences"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quote = { workspace = true }
proc-macro2 = { workspace = true, features = ["span-locations"] }
dioxus-core = { workspace = true, optional = true }
syn = { workspace = true, features = ["full", "extra-traits", "visit", "visit-mut"] }
serde = { workspace = true, features = ["derive"], optional = true }
internment = { version = "0.7.0", optional = true }
tracing = { workspace = true }
proc-macro2-diagnostics = { version = "0.10", default-features = false }
prettier-please = { version = "*" }

[features]
default = ["hot_reload"]
hot_reload_traits = []
hot_reload = ["dep:internment", "dep:dioxus-core", "hot_reload_traits", "serde"]
serde = ["dep:serde", "dioxus-core/serialize"]

[dev-dependencies]
prettyplease = { workspace = true }

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
