[package]
name = "dioxus-rsx"
version = { workspace = true }
authors = ["Jonathan Kelley", "Evan Almloff"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Core functionality for Dioxus - a concurrent renderer-agnostic Virtual DOM for interactive user experiences"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
internment = { workspace = true, optional = true }
proc-macro2 = { workspace = true, features = ["span-locations"] }
proc-macro2-diagnostics = { workspace = true }
quote = { workspace = true }
syn = { workspace = true, features = ["full", "extra-traits", "visit", "visit-mut"] }
tracing = { workspace = true }
dioxus-core = { workspace = true, optional = true } # todo: this is being compiled in a proc macro
dioxus-core-types = { workspace = true, optional = true }

[features]
default = []
hot_reload_traits = []
hot_reload = ["dep:internment", "dep:dioxus-core", "dep:dioxus-core-types", "hot_reload_traits"]

[dev-dependencies]
prettyplease = { workspace = true }
prettier-please = { workspace = true }

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
