[package]
name = "dioxus-rsx"
version = { workspace = true }
authors = ["Jonathan Kelley", "Evan Almloff"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Core functionality for Dioxus - a concurrent renderer-agnostic Virtual DOM for interactive user experiences"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quote = { workspace = true }
proc-macro2 = { workspace = true, features = ["span-locations"] }
dioxus-core = { workspace = true, optional = true }
syn = { workspace = true, features = ["full", "extra-traits"] }
serde = { workspace = true, features = ["derive"], optional = true }
internment = { version = "0.7.0", optional = true }
krates = { version = "0.16.6", optional = true }
tracing = { workspace = true }

[features]
default = ["html", "hot_reload"]
hot_reload = ["krates", "internment", "dioxus-core"]
serde = ["dep:serde"]
html = []


[dev-dependencies]
insta = "1.36.1"
