[package]
name = "dioxus-liveview"
version = { workspace = true }
edition = "2021"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com/learn/0.4/getting_started/liveview"
keywords = ["dom", "ui", "gui", "react", "liveview"]
description = "Build server-side apps with Dioxus"
authors = ["Jonathan Kelley", "Evan Almloff"]
license = "MIT OR Apache-2.0"

[dependencies]
thiserror = { workspace = true }
tracing = { workspace = true }
slab = { workspace = true }
futures-util = { workspace = true, default-features = false, features = [
    "sink",
] }
futures-channel = { workspace = true }
tokio = { workspace = true, features = ["time", "macros"] }
tokio-stream = { version = "0.1.11", features = ["net"] }
tokio-util = { version = "0.7.4", features = ["rt"] }
serde = { version = "1.0.151", features = ["derive"] }
serde_json = "1.0.91"
dioxus-html = { workspace = true, features = ["serialize"] }
dioxus-core = { workspace = true, features = ["serialize"] }
dioxus-interpreter-js = { workspace = true }
dioxus-hot-reload = { workspace = true, optional = true }

# warp
warp = { version = "0.3.3", optional = true }

# axum
axum = { version = "0.6.1", optional = true, features = ["ws"] }

# salvo
salvo = { version = "0.44.1", optional = true, features = ["ws"] }
once_cell = "1.17.1"
async-trait = "0.1.71"

# actix is ... complicated?
# actix-files = { version = "0.6.2", optional = true }
# actix-web = { version = "4.2.1", optional = true }
# actix-ws = { version = "0.2.5", optional = true }

[dev-dependencies]
pretty_env_logger = { version = "0.5.0" }
tokio = { workspace = true, features = ["full"] }
dioxus = { workspace = true }
warp = "0.3.3"
axum = { version = "0.6.1", features = ["ws"] }
salvo = { version = "0.44.1", features = ["affix", "ws"] }
tower = "0.4.13"

[features]
default = ["hot-reload"]
# actix = ["actix-files", "actix-web", "actix-ws"]
hot-reload = ["dioxus-hot-reload"]

[[example]]
name = "axum"
required-features = ["axum"]

[[example]]
name = "salvo"
required-features = ["salvo"]

[[example]]
name = "warp"
required-features = ["warp"]
