[package]
name = "dioxus-liveview"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/DioxusLabs/dioxus/"
homepage = "https://dioxuslabs.com"
documentation = "https://dioxuslabs.com"
keywords = ["dom", "ui", "gui", "react", "wasm"]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
futures-util = { version = "0.3", default-features = false, features = [
    "sink",
] }
futures-channel = { version = "0.3.17", features = ["sink"] }
pretty_env_logger = "0.4"
tokio-stream = { version = "0.1.1", features = ["net"] }

serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
tokio-util = { version = "0.7.0", features = ["full"] }

dioxus-html = { path = "../html", features = ["serialize"], version = "^0.2.0" }
dioxus-core = { path = "../core", features = ["serialize"], version = "^0.2.0" }


# warp
warp = { version = "0.3", optional = true }

# axum
axum = { version = "0.5.1", optional = true, features = ["ws"] }
tower = { version = "0.4.12", optional = true }

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
dioxus = { path = "../../" }
warp = "0.3"
axum = { version = "0.5.1", features = ["ws"] }
tower = "0.4.12"

[features]
default = []
